# --- Ignore image and dataset outputs ---
*.jpg
*.jpeg
*.png
*.nii
*.mat
*.h5
*.pth
*.pkl
*.csv
!metadata.csv  # except this one

# --- Ignore system and environment files ---
__pycache__/
.ipynb_checkpoints/
.DS_Store
.env
.env/
venv/
.idea/
.vscode/

# --- Ignore compressed archives ---
*.zip
*.tar.gz

# --- Ignore logs and outputs ---
*.log
